:root {
    --PAPAYA: #E24E42;
    --AQUA: #008F95;
    --LIGHT-GRAY: #f2f6fc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, form, input {
    font-family: 'Ubuntu', sans-serif;
}

html {
    background-color: var(--LIGHT-GRAY);
}

body {
    font-size: 1.1rem;
    line-height: 1.75rem;
    width: fit-content;
    margin: 50px auto;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.content-wrapper {
    padding: 5rem;
}

h1 {
    color: var(--PAPAYA);
    margin-bottom: 3rem;
}

h3 {
    color: var(--PAPAYA);
    font-weight: 500;
    margin-bottom: .5rem;
}

ul {
    margin-left: 1.1rem;
    list-style: none;
}

ul li::before {
    content: "\002D";
    color: var(--PAPAYA);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

section {
    width: fit-content;
}

form {
    margin: 3rem 0;
    width: fit-content;
}

label {
    font-weight: bold;
    color: var(--PAPAYA);
    margin-right: .5rem;
}

input, select {
    font-weight: 500;
    padding: .7rem 1rem;
    width: 6rem;
    outline: none;
    background: var(--LIGHT-GRAY);
    margin-right: 1rem;
    border: none;
    border-radius: 4px;
}

select {
    width: auto;
}

#submit {
    width: auto;
    height: 2.8rem;
    padding: .5rem 2rem;
    font-weight: bold;
    color: var(--PAPAYA);
    transition: 100ms;
    border-bottom: 1px solid var(--PAPAYA);
}

#submit:hover {
    color: white;
    background-color: var(--PAPAYA);
    cursor: pointer;
}

#submit:active {
    transform: scale(.9);
}

footer {
    padding: .75rem;
    text-align: center;
    color: gray;
    background-color: var(--LIGHT-GRAY);
    border-radius: 0 0 12px 12px;
}